.user-icon{
    height: 30px;
    width: 30px;
}

#upload-btn {
    background: #9053c7;
    background: -webkit-linear-gradient(-135deg, rgb(var(--violet)), rgb(var(--blue)));
    background: -o-linear-gradient(-135deg,rgb(var(--violet)), rgb(var(--blue)));
    background: -moz-linear-gradient(-135deg,rgb(var(--violet)), rgb(var(--blue)));
    background: linear-gradient(-135deg, rgb(var(--violet)), rgb(var(--blue)));
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-radius: 5px;
    color: white;
    transition: .3s;
}

#upload-btn:hover {
    /* box-shadow: -3px 3px 10px rgba(0,0,0,.30); */
    cursor: pointer;
}

.btn-info{
    height: 40px;
}

.submit-btn{
    background: #9053c7;
    color: white;
}

#browsebtn{
    background: #9053c7;
    color: white;
}
